# Extract text

**Imports**

In [132]:
import re
import json
import nltk
from nltk.tokenize import word_tokenize, sent_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
from nltk.cluster.util import cosine_distance
from pdfminer.layout import LAParams
import numpy as np
import networkx as nx
import pandas as pd
import locale
import tabula
import pdfplumber

In [107]:
from pdfminer.high_level import extract_text
def extract_text_from_pdf(pdf_path):
    laparams = LAParams()
    text = extract_text(pdf_path,laparams)
    return text.split("\f")

In [108]:
extract_text_from_pdf('Q3-2024-Press-Release-English.pdf')

['Canadian Tire Corporation Reports Third Quarter 2024 Results; Announces Annual \n\nDividend Increase for 15th Consecutive Year and Share Repurchase Intention \n\nToronto, November 7, 2024 – Canadian Tire Corporation, Limited (TSX:CTC, TSX: CTC.A) (CTC \nor the Company) today released its third quarter results for the period ended September 28, 2024.  \n\n•  Consolidated  comparable  sales1  trend  improved  compared  to  Q2  2024;  consolidated \n\ncomparable sales were down 1.5% compared to Q3 2023.  \n\n•  Diluted and Normalized Earnings Per Share1 (EPS) were $3.59, compared to $(1.19) in Q3 \n\n2023, and up 21.3% from $2.96 on a normalized basis. \n\n•  Annualized  dividend  increased  from  $7.00  to  $7.10  per  share,  alongside  an  intention  to \n\nrepurchase up to $200.0 million of Class A Non-Voting Shares in 2025.  \n\n“We delivered strong retail profitability for the third consecutive quarter and sales trends improved,” \n\nsaid  Greg  Hicks,  President  and  CEO,  Canadian  Tire  Corporation.  “With  customer  spending  still \n\nconstrained,  Canadians  are  seeking  value  and  finding  it  through Triangle  Rewards,  where more \n\nloyalty members earned and redeemed with us at higher levels this quarter.” \n\n“We continue to control costs and manage margins carefully, in order to balance lingering consumer \n\nand economic headwinds. At the same time, the investments we have made over the last two years \n\nposition us well, with better omnichannel experiences, higher customer satisfaction scores, and a \n\npositive reaction to new products as they hit our shelves.” \n\nTHIRD-QUARTER HIGHLIGHTS \n\n•  Consolidated comparable sales were down 1.5%; SportChek grew for the first quarter since \n\nQ2 2023, which partially offset declines at Canadian Tire Retail (CTR) and Mark’s.  \n\no  CTR  comparable  sales1  were  down  2.2%,  compared  to  Q3  2023.  Customers \ncontinued to prioritize essential categories including Automotive, which continued to \n\nperform  well  against  a  strong  quarter  in  Q3  2023,  led  by  growth  in  automotive \n\nservice. \n\no  SportChek comparable sales1 were up 2.9%, marking two consecutive quarters in \nwhich  SportChek  outperformed  industry  trends.  Targeted  promotional  events  and \n\n \n \n \n \n \n \n \n  \n \n \n',
 'improved customer experience continued to be a focus and contributed to growth in \n\nathletic footwear and hockey categories. \n\no  Mark’s comparable sales1 were down 2.3%, led by industrial wear declines, which \nwere partially offset by growth in men’s shorts and t-shirts. Children’s wear was a top \n\nperformer, as a result of the ongoing strategic rollout of the category to select Mark’s \n\nstores.  \n\n• \n\nIncreased loyalty engagement saw active registered loyalty members up 4%; members took \n\nadvantage of 1:1 offers, engaged in mass Triangle promotions, and scanned their loyalty \ncards more.  \n\n• \n\nIn-store Net Promoter Score (NPS) was up across the Company’s banners, including CTR; \n\nstore investments and a focus on strong in-stock availability of key brands continued to drive \nimprovements in positive customer sentiment.  \n\n• \n\nImproved retail profitability led to higher Consolidated Income Before Income taxes (IBT) at \n$299.3  million,  an  increase  of  $230.0  million  and  $33.0  million  on  a  normalized  basis1 \ncompared to the prior year.  \n\no  Retail  IBT  was  $164.8  million,  down  $74.2  million  and  up  $56.8  million  on  a \nnormalized basis1. A strong retail gross margin rate1 combined with solid cost control \noffset a decline in retail revenue. IBT also benefited from higher other income, which \n\nequated to around $0.41 of impact at the EPS level, as a result of a property sale \ngain and insurance recoveries. \n\no  Financial Services IBT was $110.3 million in the quarter, a $15.4 million decrease \nfrom  the  prior  year,  as  higher  net  write-offs  and  operating  expenses  were  only \n\npartially  offset  by  higher  revenues,  all  while  cardholder  engagement  remained \nstrong.  Gross Average Accounts  Receivable1  (GAAR)  was  up  3.0%,  mainly  as  a \nresult of higher average account balances. \n\n•  CTC continues to make solid progress on the key areas within its Better Connected strategy \n\nto enhance the customer experience and drive efficiencies, with almost $1.7 billion in capital \ninvested since 2022. Accomplishments in the third quarter included:  \n\no  A  richer  in-store  and  digital  customer  experience:  Store  investments  are \nproceeding at pace, with four new Party City stores added in Q3, and 39 CTR store \n\nrefresh projects expected to be completed by the end of 2024 (taking the total to 120 \n\nsince 2022). By year end, more than 90% of Canadian Tire’s 502 stores are expected \n\nto  have  deployed  technology  enhancements  such  as  electronic  shelf  labels  and \n\nlockers,  and  more  than  60%  of  CTC’s  1,400  retail  locations  will  have  enhanced \nbroadband capabilities.  \n\n2 \n\n \n \n',
 'o \n\nImproved  supply  chain  productivity:  Previously  announced  supply  chain \ninvestments  and  consolidation  are  improving  productivity  and  savings,  including \n\nincreased throughput as a result of goods-to-person automation, which is now fully \n\noperational at the Company’s Calgary and Montreal Distribution Centres (DC). The \n\nlast  stage  of  planned  supply  chain  investments  will  include  the  phased  rollout  of \n\nCTC’s  new  transportation  management  system,  and  a  new  Vancouver  DC  set  to \nopen in 2025.   \n\no  Continued  margin  accretion  from  Owned  Brands  successes:  Continued \nstrength in categories like automotive and hockey is contributing to margin accretion, \nwith Owned Brand penetration1 relatively flat despite pressure in some discretionary \ncategories. A pipeline of innovative and quality Owned Brand products are set to roll \nout during 2025. \n\nCONSOLIDATED OVERVIEW \n\n•  Revenue was $4,192.9 million, down 1.4% compared to $4,250.5 million in the same period \nlast  year;  Revenue  (excluding  Petroleum)1  was  $3,639.8  million,  a  decrease  of  0.4% \ncompared to the prior year. \n\n•  Consolidated income before income taxes was $299.3 million, up $230.0 million compared \n\nto the prior year. On a normalized basis, consolidated income before income taxes was up \n$33.0 million.  \n\n•  Diluted EPS was $3.59, compared to $(1.19) or $2.96 on a normalized basis in the prior \n\nyear.  \n\n•  Refer to the Company’s Q3 2024 MD&A section 4.1 for information on normalizing items \n\nand additional details on events that have impacted the Company in the quarter. \n\nRETAIL SEGMENT OVERVIEW \n\n•  Retail sales1 were $4,539.5 million, down 2.2%, compared to the third quarter of 2023. Retail \nsales  (excluding  Petroleum)1  and  consolidated  comparable  sales  were  down  1.4%  and \n1.5%, respectively. \n\n•  CTR retail sales1 were down 2.0% and comparable sales were down 2.2% over the same \n\nperiod last year.  \n\n•  SportChek  retail  sales1 increased  2.0%  over  the  same  period  last  year,  and  comparable \n\nsales were up 2.9%. \n\n•  Mark’s retail sales1 decreased 2.0% over the same period last year, and comparable sales \n\nwere down 2.3%.  \n\n3 \n\n \n \n',
 '•  Helly Hansen revenue was down 6.0% compared to the same period in 2023, mainly due to \n\na shift in the timing of shipments to wholesale customers. \n\n•  Retail revenue was $3,797.8 million, a decrease of $69.5 million, or 1.8%, compared to the \n\nprior year; Retail revenue (excluding Petroleum)1 was down 0.8%. \n\n•  Retail gross margin was $1,214.8 million, up 0.6% compared to the third quarter of the prior \nyear,  and  up  1.0%  excluding  Petroleum1;  Retail  gross  margin  rate  (excluding  Petroleum) \nincreased 62 bps to 35.7%.  \n\n•  Retail IBT was $164.8 million in Q3 2024, compared to $239.0 million or $108.0 million on \n\na normalized basis in the prior year.  \n\n•  Retail Return on Invested Capital (ROIC),1 calculated on a trailing twelve-month basis, was \n8.8%  at  the  end  of  the  third  quarter  of  2024,  compared  to  11.1%  at  the  end  of  the  third \n\nquarter of 2023, due to the decrease in earnings over the prior period. \n\n•  Refer to the Company’s Q3 2024 MD&A sections 4.2.1 for information on normalizing items \n\nand additional details on events that have impacted the Retail segment in the quarter. \n\nFINANCIAL SERVICES OVERVIEW  \n\n•  Financial Services segment Income before income taxes was $110.3 million in the quarter, \n\na $15.4 million decrease from the prior year, as higher net write-offs and operating expenses \n\nwere  only  partially  offset  by  higher  revenues,  all  while  cardholder  engagement  remained \n\nstrong. \n\n•  GAAR was up 3.0% relative to the prior year, driven by growth in average account balances, \n\nwhich were up 3.4%.  \n\n•  Refer to  the  Company’s  Q3  2024 MD&A  section  4.3.1  and  4.3.2 for  additional  details  on \n\nevents that have impacted the Financial Services segment in the quarter. \n\nCT REIT OVERVIEW \n\n•  Diluted Adjusted Funds from Operations1 (AFFO) per unit for was up 2.3% compared to Q3 \n\n2023; diluted net income per unit was $0.339, compared to $0.048 in Q3 2023.  \n\n•  Announced  three  new  investments  totalling  $85  million,  which  are  expected  to  add \n\napproximately 283,000 square feet of incremental gross leasable area upon completion. \n\n•  For further information, refer to the Q3 2024 CT REIT earnings release issued on November \n\n5, 2024. \n\n4 \n\n \n \n \n',
 'CAPITAL ALLOCATION \n\nCAPITAL EXPENDITURES \n\n•  Total capital expenditures were $195.1 million in the quarter, compared to $176.4 million in \n\nQ3 2023 and $457.6 million on a year-to-date basis. \n\n•  Operating  capital  expenditures1  were  $127.1  million  in  the  quarter,  compared  to  $155.1 \nmillion in Q3 2023. Full year 2024 operating capital expenditures are expected to be in the \nCompany’s previously disclosed range of $475 million to $525 million. \n\n•  2025 operating capital expenditures are expected to be in the range of $525 million to $575 \n\nmillion. \n\nQUARTERLY DIVIDEND \n\n•  The  Company  increased  its  annual  dividend  for  the  15th  consecutive  year,  to  $7.10  per \nCommon Voting and Class A Non-Voting Share (share), an increase of approximately 1.4% \nover last year. On November\u20096, 2024, the Company’s Board of Directors declared dividends \n\nof $1.775 per share payable on March\u20091, 2025, to shareholders of record as of January\u200931, \n\n2025.  The dividend is considered an “eligible dividend” for tax purposes.    \n\nSHARE REPURCHASES \n\n•  On November 6, 2024, the Company announced its intention to repurchase up to $200 \n\nmillion of its Class A Non-Voting Shares, in excess of the amount required for anti-dilutive \n\npurposes, in 2025. \n\n•  Repurchases of Class A Non-Voting Shares will be made under the Company’s existing \n\nNormal Course Issuer Bid (NCIB), which expires on March 1, 2025, and thereafter under a \n\nrenewed NCIB, subject to regulatory approvals. \n\n5 \n\n \n \n \n \n \n \n \n \n',
 "1)  NON-GAAP  FINANCIAL  MEASURES  AND  RATIOS  AND  SUPPLEMENTARY  FINANCIAL \n\nMEASURES \n\nThis press release contains non-GAAP financial measures and ratios, and supplementary financial \nmeasures.  References  below  to  the  Q3  2024  MD&A  mean  the  Company's  Management's \nDiscussion and Analysis for the Third Quarter ended September 28, 2024, which is available on \nSEDAR+ at http://www.sedarplus.ca and is incorporated by reference herein. Non-GAAP measures \nand non-GAAP ratios have no standardized meanings under GAAP and may not be comparable to \nsimilar measures of other companies.  \n\nA)  Non-GAAP Financial Measures and Ratios  \n\nNormalized Diluted Earnings per Share  \n\nNormalized  diluted  EPS,  a  non-GAAP  ratio,  is  calculated  by  dividing  Normalized  Net  Income \n\nAttributable  to  Shareholders,  a  non-GAAP  financial  measure,  by  total  diluted  shares  of  the \n\nCompany.  For  information  about  these  measures,  see  section  9.1  of  the  Company’s  Q3  2024 \n\nMD&A. \n\nThe following table is a reconciliation of normalized net income attributable to shareholders of the \nCompany to the respective GAAP measures: \n\n(C$ in millions) \nNet income \nNet income attributable to shareholders \nAdd normalizing items:  \n\nDC fire expense (recovery) \nGST/HST-related charge1 \nChange in fair value of redeemable financial instrument \n\nYTD \n\nYTD \nQ3 2024  Q3 2023  Q3 2024  Q3 2023 \n$  220.7   $  (27.8) $  540.2  $  141.9  \n40.8  \n  200.6    \n\n(66.4)   476.2   \n\n$ \n\n—   $  (96.4) $ \n—   \n—   \n—    328.0   \n\n8.4  \n—  $ \n—   \n24.7  \n—    328.0  \n$  220.7  $  203.8  $  540.2  $  503.0  \n$  200.6  $  165.2  $  476.2  $  396.9  \n$  3.59  $  2.96  $  8.54  $  7.00  \n\nNormalized Net income \nNormalized Net income attributable to shareholders1 \nNormalized Diluted EPS \n1  $5.0 million relates to non-controlling interests and is not included in the sum of Normalized net income attributable to shareholders. \n\nConsolidated  Normalized  Income  Before  Income  Taxes,  Retail  Normalized  Income  Before \nIncome Taxes, and Financial Services Normalized Income Before Income Taxes \n\nConsolidated Normalized Income Before Income Taxes, Retail Normalized Income before Income \nTaxes, and Financial Services Normalized Income Before Income Taxes are non-GAAP financial \nmeasures. For  information  about  these  measures,  see  section  9.1  of  the  Company’s  Q3  2024 \nMD&A.  \n\n6 \n\n \n \n \n \n \n \n \n \n \n   \n \n \n \n",
 'The following table reconciles Consolidated Normalized Income Before Income Taxes to Income \nBefore Income Taxes:  \n\n(C$ in millions) \nIncome before income taxes \nAdd normalizing items: \n\nDC fire expense (recovery) \nGST/HST-related charge \nChange in fair value of redeemable financial instrument \n\nNormalized Income before income taxes \n\nYTD \nQ3 2024  Q3 2023  Q3 2024  Q3 2023 \n$  299.3  $  69.3  $  716.9  $  309.8  \n\nYTD \n\n—     (131.0)  \n—   \n—   \n—    328.0  \n\n11.3   \n33.3  \n   328.0  \n$  299.3  $  266.3  $  716.9  $  682.4  \n\n—   \n—   \n\nThe following table reconciles Retail Normalized Income Before Income Taxes to Income Before \nIncome Taxes:   \n\n(C$ in millions) \nIncome before income taxes \nLess: Other operating segments \nRetail Income before income taxes \nAdd normalizing items: \n\nDC fire expense (recovery) \n\nRetail Normalized Income before income taxes \n\nYTD \n\nYTD \nQ3 2024  Q3 2023  Q3 2024  Q3 2023 \n$  299.3  $  69.3  $  716.9  $  309.8  \n  134.5     (169.7)   381.4   \n64.5  \n$  164.8  $  239.0  $  335.5  $  245.3  \n\n—     (131.0)  \n\n11.3   \n$  164.8  $  108.0  $  335.5  $  256.6  \n\n—   \n\nThe  following  table  reconciles  Financial  Services  Normalized  Income  before  income  taxes  to \nIncome  before  income  taxes  which  is  a  GAAP  measure  reported  in  the  consolidated  financial \nstatements. \n\nYTD \n\nYTD \nQ3 2024  Q3 2023  Q3 2024  Q3 2023 \n$  299.3  $  69.3  $  716.9  $  309.8  \n  189.0    \n10.0  \n$  110.3  $  125.7  $  294.5  $  299.8  \n\n(56.4)   422.4   \n\n—   \n\n33.3  \n$  110.3  $  125.7  $  294.5  $  333.1  \n\n—   \n\n—   \n\n(C$ in millions) \nIncome before income taxes \nLess: Other operating segments \nFinancial Services Income before income taxes \nAdd normalizing items: \nGST/HST-related charge \n\nFinancial Services Normalized Income before income taxes \n\n7 \n\n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n    \n    \n    \n  \n \n \n \n \n \n    \n  \n   \n  \n \n \n \n \n \n \n \n    \n    \n    \n  \n \n \n \n \n \n \n \n \n \n \n   \n   \n   \n  \n \n \n \n \n \n \n \n \n    \n    \n    \n  \n \n \n \n \n \n \n \n \n \n',
 'CT REIT Adjusted Funds from Operations and AFFO per unit \n\nAFFO per unit, a non-GAAP ratio, is calculated by dividing AFFO by the weighted average number \n\nof units outstanding on a diluted basis. AFFO is a non-GAAP financial measure. The following table \n\nreconciles GAAP Income before income taxes to FFO and further reconciles FFO to AFFO: \n\n(C$ in millions) \nIncome before income taxes \nLess: Other operating segments \nCT REIT income before income taxes \nAdd: \n\nCT REIT fair value loss (gain) adjustment \nCT REIT deferred taxes \nCT REIT lease principal payments on right-of-use assets \nCT REIT fair value of equity awards \nCT REIT internal leasing expense \n\nCT REIT funds from operations \nLess: \n\nCT REIT properties straight-line rent revenue \nCT REIT direct leasing costs \nCT REIT capital expenditure reserve \n\nCT REIT adjusted funds from operations \n\nYTD \n\nYTD \nQ3 2024  Q3 2023  Q3 2024  Q3 2023 \n$  299.3  $  69.3   $  716.9  $  309.8  \n  204.8   \n  118.6   \n$  94.5  $  11.3    $  298.9  $  191.2  \n\n58.0   \n\n418.0\n\n(17.7)  \n(0.6)   \n(0.2)   \n1.9    \n0.2   \n\n39.3  \n0.7  \n(0.7) \n(1.1) \n0.8  \n$  78.1  $  77.1   $  235.7  $  230.2  \n\n(64.3)  \n0.2   \n(0.6)   \n0.7    \n0.8   \n\n66.7    \n(0.2)   \n(0.2)   \n(0.9)   \n0.4    \n\n(1.0)   \n0.1   \n6.4   \n\n(1.3) \n0.9  \n18.7  \n$  72.6  $  71.0   $  219.4  $  211.9   \n\n(0.5)   \n0.3    \n6.3    \n\n(3.6)   \n0.7   \n19.2   \n\nRetail Return on Invested Capital (ROIC) \n\nROIC is calculated as Retail return divided by the Retail invested capital. Retail return is defined as \ntrailing  annual  Retail  after-tax  earnings  excluding  interest  expense,  lease  related  depreciation \nexpense, inter-segment earnings, and any normalizing items. Retail invested capital is defined as \nRetail segment total assets, less Retail segment trade payables and accrued liabilities and inter-\nsegment  balances  based  on  an  average  of  the  trailing  four  quarters.  Retail  return  and  Retail \ninvested capital are non-GAAP financial measures. For more information about these measures, \nsee section 9.1 of the Company’s Q3 2024 MD&A.   \n\n8 \n\n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n \n',

## Extract text across pages

In [109]:

def normalize_text(text):
    return re.sub(r'\s+', ' ', text.strip()).lower()

def extract_text_between_words_across_pages(text_pages, start_word, end_word):
    # Normalize words
    start_word = normalize_text(start_word)
    end_word = normalize_text(end_word)
    extracted_texts = []
    combined_text = "\n".join([normalize_text(page) for page in text_pages])
    pattern = re.compile(re.escape(start_word) + '(.*?)' + re.escape(end_word), re.S)

    for match in pattern.finditer(combined_text):
        start_page, end_page = None, None
        start_index, end_index = match.start(), match.end()

        cumulative_length = 0
        for i, page in enumerate(text_pages):
            page_length = len(page)
            if start_page is None and start_index < cumulative_length + page_length:
                start_page = i + 1
            if end_page is None and end_index <= cumulative_length + page_length:
                end_page = i + 1
            cumulative_length += page_length + len("\n")
            if start_page is not None and end_page is not None:
                break

        extracted_texts.append({
            'start_page': start_page,
            'end_page': end_page,
            'start_word': start_word,
            'end_word': end_word,
            'extracted_text': match.group(1).strip()
        })
    return extracted_texts

Extract text by sections

In [110]:
start_end_pairs = [
    ('THIRD-QUARTER HIGHLIGHTS', 'products are set to roll out during 2025.'),
    ('CONSOLIDATED OVERVIEW','Company in the quarter.'),
    ('RETAIL SEGMENT OVERVIEW','impacted the Retail segment in the quarter.'),
    ('FINANCIAL SERVICES OVERVIEW','Services segment in the quarter.'),
    ('CT REIT OVERVIEW','November 5, 2024.'),
    ('CAPITAL ALLOCATION','million to $575 million.'),
    ('QUARTERLY DIVIDEND','for tax purposes.'),
    ('SHARE REPURCHASES','to regulatory approvals.'),
    ('1) NON-GAAP FINANCIAL MEASURES','Owned brand penetration'),
    ('FORWARD-LOOKING STATEMENTS', 'by applicable securities laws.'),
    ('CONFERENCE CALL','at this website for 12 months.'),
    ('ABOUT CANADIAN TIRE CORPORATION','visit Corp.CanadianTire.ca.'),
    ('FOR MORE INFORMATION','karen.keyes@cantire.com')
    # Add more pairs as needed
]


def process_files_in_folder(file_name, start_end_pairs):
    all_extracted_texts = []
    if file_name.endswith('.pdf'):
      text_pages = extract_text_from_pdf(file_name)
      for start_word, end_word in start_end_pairs:
        extracted_texts = extract_text_between_words_across_pages(text_pages, start_word, end_word)
        all_extracted_texts.extend(extracted_texts)

    return all_extracted_texts

all_extracted_texts = process_files_in_folder('Q3-2024-Press-Release-English.pdf', start_end_pairs)

## Cleansing/Preprocessing

In [111]:
# Improved text normalization and cleaning
def advanced_preprocess_text(text):
    # Convert text to lowercase
    text = text.lower()
    
    # Expand common contractions (e.g., "isn't" -> "is not")
    contractions_dict = {
        "isn't": "is not", "aren't": "are not", "can't": "cannot",
        "won't": "will not", "n't": " not", "'re": " are",
        "'s": " is", "'d": " would", "'ll": " will", "'t": " not",
        "'ve": " have", "'m": " am"
    }
    contractions_pattern = re.compile('({})'.format('|'.join(contractions_dict.keys())))
    text = contractions_pattern.sub(lambda x: contractions_dict[x.group()], text)

    # Remove bullet points and special characters
    text = re.sub(r'[\u2022]', '', text)  # Remove specific bullet character
    text = re.sub(r'[^a-zA-Z0-9\s]', '', text)  # Remove remaining non-alphanumeric characters
    
    # Tokenize the text into words
    tokens = word_tokenize(text)
    
    # Remove stop words
    stop_words = set(stopwords.words('english'))
    tokens = [word for word in tokens if word not in stop_words]
    
    # Lemmatize tokens
    lemmatizer = WordNetLemmatizer()
    tokens = [lemmatizer.lemmatize(word) for word in tokens]
    
    # Join tokens back into a single string
    cleaned_text = ' '.join(tokens)
    return cleaned_text

# Text summarizer
Summarize text by section
Lets Create a text summarizer using Cosine Distance

In [112]:
def generate_summary(article, top_n=5):
    stop_words = stopwords.words('english')
    summarize_text = []

    # Step 1 - Read text and split it into sentences
    sentences = [sent_tokenize(article)]
    sentences = [sent for sublist in sentences for sent in sublist]  # Flatten list of lists

    # Step 2 - Tokenize sentences for similarity calculation
    tokenized_sentences = [word_tokenize(sent) for sent in sentences]

    # Step 3 - Generate Similarity Matrix across sentences
    sentence_similarity_matrix = build_similarity_matrix(tokenized_sentences, stop_words)

    # Step 4 - Rank sentences in similarity matrix
    sentence_similarity_graph = nx.from_numpy_array(sentence_similarity_matrix)
    scores = nx.pagerank(sentence_similarity_graph)

    # Step 5 - Sort the rank and pick top sentences
    ranked_sentence = sorted(((scores[i], s) for i, s in enumerate(sentences)), reverse=True)
    print("Indexes of top ranked_sentence order are ", ranked_sentence)
    
    for i in range(min(top_n, len(ranked_sentence))):
        summarize_text.append(ranked_sentence[i][1])

    # Return the summarized text
    print("Summarized Text: \n", ". ".join(summarize_text))
    return ". ".join(summarize_text)



# Function to build similarity matrix
def build_similarity_matrix(sentences, stop_words):
    similarity_matrix = np.zeros((len(sentences), len(sentences)))
    for idx1 in range(len(sentences)):
        for idx2 in range(len(sentences)):
            if idx1 == idx2:  # Ignore same sentences
                continue
            similarity_matrix[idx1][idx2] = sentence_similarity(sentences[idx1], sentences[idx2], stop_words)
    return similarity_matrix

# Function to compute sentence similarity
def sentence_similarity(sent1, sent2, stop_words=None):
    if stop_words is None:
        stop_words = []
    sent1 = [w.lower() for w in sent1 if w not in stop_words]
    sent2 = [w.lower() for w in sent2 if w not in stop_words]

    all_words = list(set(sent1 + sent2))
    vector1 = [0] * len(all_words)
    vector2 = [0] * len(all_words)

    for w in sent1:
        vector1[all_words.index(w)] += 1
    for w in sent2:
        vector2[all_words.index(w)] += 1

    return 1 - cosine_distance(vector1, vector2)

## Saving and Structuring

In [113]:
def process_and_summarize_sections(extracted_sections, preprocess_func, summary_func, top_n_summary=1):
    processed_data = {
        'document_sections': []
    }

    for section in extracted_sections:
        
        # Preprocess the full text
        preprocessed_text = preprocess_func(section['extracted_text'])
        print(f"Summary for section starting with '{section['start_word']}' and ending with '{section['end_word']}':")
        # Generate summary
        summary = summary_func(preprocessed_text, top_n=top_n_summary)

        # Append to processed data
        processed_data['document_sections'].append({
            'start_word': section['start_word'],
            'end_word': section['end_word'],
            'preprocessed_text': preprocessed_text,
            'summary': summary,
            'full_text': section['extracted_text']
        })
    # Save the processed data to a JSON file
    with open('processed_document.json', 'w') as file:
        json.dump(processed_data, file, indent=4)

    return processed_data

In [114]:
processed_data = process_and_summarize_sections(all_extracted_texts, advanced_preprocess_text, generate_summary, top_n_summary=1)

Summary for section starting with 'third-quarter highlights' and ending with 'products are set to roll out during 2025.':
Indexes of top ranked_sentence order are  [(1.0, 'consolidated comparable sale 15 sportchek grew first quarter since q2 2023 partially offset decline canadian tire retail ctr mark ctr comparable sales1 22 compared q3 2023 customer continued prioritize essential category including automotive continued perform well strong quarter q3 2023 led growth automotive service sportchek comparable sales1 29 marking two consecutive quarter sportchek outperformed industry trend targeted promotional event improved customer experience continued focus contributed growth athletic footwear hockey category mark comparable sales1 23 led industrial wear decline partially offset growth men short tshirts childrens wear top performer result ongoing strategic rollout category select mark store increased loyalty engagement saw active registered loyalty member 4 member took advantage 11 offer engaged mass triangle promotion scanned loyalty card instore net promoter score np across company banner including ctr store investment focus strong instock availability key brand continued drive improvement positive customer sentiment improved retail profitability led higher consolidated income income tax ibt 2993 million increase 2300 million 330 million normalized basis1 compared prior year retail ibt 1648 million 742 million 568 million normalized basis1 strong retail gross margin rate1 combined solid cost control offset decline retail revenue ibt also benefited higher income equated around 041 impact eps level result property sale gain insurance recovery financial service ibt 1103 million quarter 154 million decrease prior year higher net writeoffs operating expense partially offset higher revenue cardholder engagement remained strong gross average account receivable1 gaar 30 mainly result higher average account balance ctc continues make solid progress key area within better connected strategy enhance customer experience drive efficiency almost 17 billion capital invested since 2022 accomplishment third quarter included richer instore digital customer experience store investment proceeding pace four new party city store added q3 39 ctr store refresh project expected completed end 2024 taking total 120 since 2022 year end 90 canadian tire 502 store expected deployed technology enhancement electronic shelf label locker 60 ctc 1400 retail location enhanced broadband capability 2 improved supply chain productivity previously announced supply chain investment consolidation improving productivity saving including increased throughput result goodstoperson automation fully operational company calgary montreal distribution centre dc last stage planned supply chain investment include phased rollout ctc new transportation management system new vancouver dc set open 2025 continued margin accretion owned brand success continued strength category like automotive hockey contributing margin accretion owned brand penetration1 relatively flat despite pressure discretionary category pipeline innovative quality owned brand')]
Summarized Text:
 consolidated comparable sale 15 sportchek grew first quarter since q2 2023 partially offset decline canadian tire retail ctr mark ctr comparable sales1 22 compared q3 2023 customer continued prioritize essential category including automotive continued perform well strong quarter q3 2023 led growth automotive service sportchek comparable sales1 29 marking two consecutive quarter sportchek outperformed industry trend targeted promotional event improved customer experience continued focus contributed growth athletic footwear hockey category mark comparable sales1 23 led industrial wear decline partially offset growth men short tshirts childrens wear top performer result ongoing strategic rollout category select mark store increased loyalty engagement saw active registered loyalty member 4 member took advantage 11 offer engaged mass triangle promotion scanned loyalty card instore net promoter score np across company banner including ctr store investment focus strong instock availability key brand continued drive improvement positive customer sentiment improved retail profitability led higher consolidated income income tax ibt 2993 million increase 2300 million 330 million normalized basis1 compared prior year retail ibt 1648 million 742 million 568 million normalized basis1 strong retail gross margin rate1 combined solid cost control offset decline retail revenue ibt also benefited higher income equated around 041 impact eps level result property sale gain insurance recovery financial service ibt 1103 million quarter 154 million decrease prior year higher net writeoffs operating expense partially offset higher revenue cardholder engagement remained strong gross average account receivable1 gaar 30 mainly result higher average account balance ctc continues make solid progress key area within better connected strategy enhance customer experience drive efficiency almost 17 billion capital invested since 2022 accomplishment third quarter included richer instore digital customer experience store investment proceeding pace four new party city store added q3 39 ctr store refresh project expected completed end 2024 taking total 120 since 2022 year end 90 canadian tire 502 store expected deployed technology enhancement electronic shelf label locker 60 ctc 1400 retail location enhanced broadband capability 2 improved supply chain productivity previously announced supply chain investment consolidation improving productivity saving including increased throughput result goodstoperson automation fully operational company calgary montreal distribution centre dc last stage planned supply chain investment include phased rollout ctc new transportation management system new vancouver dc set open 2025 continued margin accretion owned brand success continued strength category like automotive hockey contributing margin accretion owned brand penetration1 relatively flat despite pressure discretionary category pipeline innovative quality owned brand
Summary for section starting with 'consolidated overview' and ending with 'company in the quarter.':
Indexes of top ranked_sentence order are  [(1.0, 'revenue 41929 million 14 compared 42505 million period last year revenue excluding petroleum1 36398 million decrease 04 compared prior year consolidated income income tax 2993 million 2300 million compared prior year normalized basis consolidated income income tax 330 million diluted eps 359 compared 119 296 normalized basis prior year refer company q3 2024 mda section 41 information normalizing item additional detail event impacted')]
Summarized Text:
 revenue 41929 million 14 compared 42505 million period last year revenue excluding petroleum1 36398 million decrease 04 compared prior year consolidated income income tax 2993 million 2300 million compared prior year normalized basis consolidated income income tax 330 million diluted eps 359 compared 119 296 normalized basis prior year refer company q3 2024 mda section 41 information normalizing item additional detail event impacted
Summary for section starting with 'retail segment overview' and ending with 'impacted the retail segment in the quarter.':
Indexes of top ranked_sentence order are  [(1.0, 'retail sales1 45395 million 22 compared third quarter 2023 retail sale excluding petroleum1 consolidated comparable sale 14 15 respectively ctr retail sales1 20 comparable sale 22 period last year sportchek retail sales1 increased 20 period last year comparable sale 29 mark retail sales1 decreased 20 period last year comparable sale 23 3 helly hansen revenue 60 compared period 2023 mainly due shift timing shipment wholesale customer retail revenue 37978 million decrease 695 million 18 compared prior year retail revenue excluding petroleum1 08 retail gross margin 12148 million 06 compared third quarter prior year 10 excluding petroleum1 retail gross margin rate excluding petroleum increased 62 bps 357 retail ibt 1648 million q3 2024 compared 2390 million 1080 million normalized basis prior year retail return invested capital roic1 calculated trailing twelvemonth basis 88 end third quarter 2024 compared 111 end third quarter 2023 due decrease earnings prior period refer company q3 2024 mda section 421 information normalizing item additional detail event')]
Summarized Text:
 retail sales1 45395 million 22 compared third quarter 2023 retail sale excluding petroleum1 consolidated comparable sale 14 15 respectively ctr retail sales1 20 comparable sale 22 period last year sportchek retail sales1 increased 20 period last year comparable sale 29 mark retail sales1 decreased 20 period last year comparable sale 23 3 helly hansen revenue 60 compared period 2023 mainly due shift timing shipment wholesale customer retail revenue 37978 million decrease 695 million 18 compared prior year retail revenue excluding petroleum1 08 retail gross margin 12148 million 06 compared third quarter prior year 10 excluding petroleum1 retail gross margin rate excluding petroleum increased 62 bps 357 retail ibt 1648 million q3 2024 compared 2390 million 1080 million normalized basis prior year retail return invested capital roic1 calculated trailing twelvemonth basis 88 end third quarter 2024 compared 111 end third quarter 2023 due decrease earnings prior period refer company q3 2024 mda section 421 information normalizing item additional detail event
Summary for section starting with 'financial services overview' and ending with 'services segment in the quarter.':
Indexes of top ranked_sentence order are  [(1.0, 'financial service segment income income tax 1103 million quarter 154 million decrease prior year higher net writeoffs operating expense partially offset higher revenue cardholder engagement remained strong gaar 30 relative prior year driven growth average account balance 34 refer company q3 2024 mda section 431 432 additional detail event impacted financial')]
Summarized Text:
 financial service segment income income tax 1103 million quarter 154 million decrease prior year higher net writeoffs operating expense partially offset higher revenue cardholder engagement remained strong gaar 30 relative prior year driven growth average account balance 34 refer company q3 2024 mda section 431 432 additional detail event impacted financial
Summary for section starting with 'ct reit overview' and ending with 'november 5, 2024.':
Indexes of top ranked_sentence order are  [(1.0, 'diluted adjusted fund operations1 affo per unit 23 compared q3 2023 diluted net income per unit 0339 compared 0048 q3 2023 announced three new investment totalling 85 million expected add approximately 283000 square foot incremental gross leasable area upon completion information refer q3 2024 ct reit earnings release issued')]
Summarized Text:
 diluted adjusted fund operations1 affo per unit 23 compared q3 2023 diluted net income per unit 0339 compared 0048 q3 2023 announced three new investment totalling 85 million expected add approximately 283000 square foot incremental gross leasable area upon completion information refer q3 2024 ct reit earnings release issued
Summary for section starting with 'capital allocation' and ending with 'million to $575 million.':
Indexes of top ranked_sentence order are  [(1.0, 'capital expenditure total capital expenditure 1951 million quarter compared 1764 million q3 2023 4576 million yeartodate basis operating capital expenditures1 1271 million quarter compared 1551 million q3 2023 full year 2024 operating capital expenditure expected company previously disclosed range 475 million 525 million 2025 operating capital expenditure expected range 525')]
Summarized Text:
 capital expenditure total capital expenditure 1951 million quarter compared 1764 million q3 2023 4576 million yeartodate basis operating capital expenditures1 1271 million quarter compared 1551 million q3 2023 full year 2024 operating capital expenditure expected company previously disclosed range 475 million 525 million 2025 operating capital expenditure expected range 525
Summary for section starting with 'quarterly dividend' and ending with 'for tax purposes.':
Indexes of top ranked_sentence order are  [(1.0, 'company increased annual dividend 15th consecutive year 710 per common voting class nonvoting share share increase approximately 14 last year november 6 2024 company board director declared dividend 1775 per share payable march 1 2025 shareholder record january 31 2025 dividend considered eligible dividend')]
Summarized Text:
 company increased annual dividend 15th consecutive year 710 per common voting class nonvoting share share increase approximately 14 last year november 6 2024 company board director declared dividend 1775 per share payable march 1 2025 shareholder record january 31 2025 dividend considered eligible dividend
Summary for section starting with 'share repurchases' and ending with 'to regulatory approvals.':
Indexes of top ranked_sentence order are  [(1.0, 'november 6 2024 company announced intention repurchase 200 million class nonvoting share excess amount required antidilutive purpose 2025 repurchase class nonvoting share made company existing normal course issuer bid ncib expires march 1 2025 thereafter renewed ncib subject')]
Summarized Text:
 november 6 2024 company announced intention repurchase 200 million class nonvoting share excess amount required antidilutive purpose 2025 repurchase class nonvoting share made company existing normal course issuer bid ncib expires march 1 2025 thereafter renewed ncib subject
Summary for section starting with '1) non-gaap financial measures' and ending with 'owned brand penetration':

# Scrapping tables

Tables on pages: 6,7,8,9 and 10 (3 tables on page 7)

In [124]:
# Function to set locale safely
def set_locale(locale_name):
    try:
        locale.setlocale(locale.LC_ALL, locale_name)
    except locale.Error:
        print(f"Locale {locale_name} not supported on this system. Using default locale.")
        locale.setlocale(locale.LC_ALL, '')

# Set the locale (adjust as necessary for your system)
set_locale('en_US.UTF-8')  # Common locale setting for Unix-like systems
locale._override_localeconv = {'n_sign_posn':1}

In [125]:
# Format as currency
def format_currency(value):
    if pd.isna(value):
        return ''
    return locale.currency(value, grouping=True).split('.')[0]

## Extract tables

In [127]:
# Path to the PDF file
pdf_path = 'Q3-2024-Press-Release-English.pdf'
table = tabula.read_pdf(pdf_path, pages=[6,7,8,9,10], multiple_tables=True)

Failed to import jpype dependencies. Fallback to subprocess.
No module named 'jpype'

## Separate and organize them

Tables on pages: 6,7,8,9 and 10 (3 tables on page 7)

### Table 1 - Page 6

In [128]:
table1 = table[0]
table1

,Net income,$,220.7 $,(27.8) $,540.2 $,141.9
0,Net income attributable to shareholders,NaN,200.6,(66.4),476.2,40.8
1,Add normalizing items:,NaN,NaN,NaN,NaN,NaN
2,DC fire expense (recovery),$,— $,(96.4) $,— $,8.4
3,GST/HST-related charge1,NaN,—,—,—,24.7
4,Change in fair value of redeemable financial i...,NaN,—,328.0,—,328.0
5,Normalized Net income,$,220.7 $,203.8 $,540.2 $,503.0
6,Normalized Net income attributable to sharehol...,$,200.6 $,165.2 $,476.2 $,396.9
7,Normalized Diluted EPS,$,3.59 $,2.96 $,8.54 $,7.0

we drop the extra column

In [129]:
table1.drop(columns='$', inplace=True)

All of the tables are omiting the column names and instead are using the first row as such. For this we create a function to add the names of the columns and use the first column as the index

In [130]:
def structure_table(table, new_columns):
    # Step 1: Move the current header to the first row
    table = table.rename(columns={i: col for i, col in enumerate(table.iloc[0])})
    table.loc[-1] = list(table.columns)  # Insert the header row as the first row
    table.index = table.index + 1       # Adjust the index
    table = table.sort_index()          # Re-sort by index

    # Step 2: Rename the columns
    table.columns = new_columns
    
    return table

In [131]:
new_columns = ['(C$ in millions)','Q3_2024', 'Q3_2023', 'YTD_Q3_2024', 'YTD_Q3_2023']
table1 = structure_table(table1, new_columns)
print("\nModified DataFrame:")
table1

Modified DataFrame:

,(C$ in millions),Q3_2024,Q3_2023,YTD_Q3_2024,YTD_Q3_2023
0,Net income,220.7 $,(27.8) $,540.2 $,141.9
1,Net income attributable to shareholders,200.6,(66.4),476.2,40.8
2,Add normalizing items:,NaN,NaN,NaN,NaN
3,DC fire expense (recovery),— $,(96.4) $,— $,8.4
4,GST/HST-related charge1,—,—,—,24.7
5,Change in fair value of redeemable financial i...,—,328.0,—,328.0
6,Normalized Net income,220.7 $,203.8 $,540.2 $,503.0
7,Normalized Net income attributable to sharehol...,200.6 $,165.2 $,476.2 $,396.9
8,Normalized Diluted EPS,3.59 $,2.96 $,8.54 $,7.0

## Table 2-4: Pag 7

Tabula is not detecting the first table of the page 7, so it will be extracted using a different method

## First table

In [133]:
# Open the PDF file
with pdfplumber.open(pdf_path) as pdf:

    page = pdf.pages[6] #BMO Report has table on Page 4

    text = page.extract_text()

print(text)

lines = text.split('\n')

data = []
headers = None

for line in lines:
    columns = line.split()

    if '(C$ in millions)' in line:
        headers = columns
    elif any(char.isdigit() for char in line.split()[0]):
        data.append(columns)

The following table reconciles Consolidated Normalized Income Before Income Taxes to Income
Before Income Taxes:
YTD YTD
(C$ in millions) Q3 2024 Q3 2023 Q3 2024 Q3 2023
Income before income taxes $ 299.3 $ 69.3 $ 716.9 $ 309.8
Add normalizing items:
DC fire expense (recovery) — (131.0) — 11.3
GST/HST-related charge — — — 33.3
Change in fair value of redeemable financial instrument — 328.0 328.0
Normalized Income before income taxes $ 299.3 $ 266.3 $ 716.9 $ 682.4
The following table reconciles Retail Normalized Income Before Income Taxes to Income Before
Income Taxes:
YTD YTD
(C$ in millions) Q3 2024 Q3 2023 Q3 2024 Q3 2023
Income before income taxes $ 299.3 $ 69.3 $ 716.9 $ 309.8
Less: Other operating segments 134.5 (169.7) 381.4 64.5
Retail Income before income taxes $ 164.8 $ 239.0 $ 335.5 $ 245.3
Add normalizing items:
DC fire expense (recovery) — (131.0) — 11.3
Retail Normalized Income before income taxes $ 164.8 $ 108.0 $ 335.5 $ 256.6
The following table reconciles Financial Services Normalized Income before income taxes to
Income before income taxes which is a GAAP measure reported in the consolidated financial
statements.
YTD YTD
(C$ in millions) Q3 2024 Q3 2023 Q3 2024 Q3 2023
Income before income taxes $ 299.3 $ 69.3 $ 716.9 $ 309.8
Less: Other operating segments 189.0 (56.4) 422.4 10.0
Financial Services Income before income taxes $ 110.3 $ 125.7 $ 294.5 $ 299.8
Add normalizing items:
GST/HST-related charge — — — 33.3
Financial Services Normalized Income before income taxes $ 110.3 $ 125.7 $ 294.5 $ 333.1
7

In [134]:
print(lines[3:10])
text = lines[3:10]

['(C$ in millions) Q3 2024 Q3 2023 Q3 2024 Q3 2023', 'Income before income taxes $ 299.3 $ 69.3 $ 716.9 $ 309.8', 'Add normalizing items:', 'DC fire expense (recovery) — (131.0) — 11.3', 'GST/HST-related charge — — — 33.3', 'Change in fair value of redeemable financial instrument — 328.0 328.0', 'Normalized Income before income taxes $ 299.3 $ 266.3 $ 716.9 $ 682.4']

In [135]:
table_data = []
# Regex to extract the description and four dollar values or placeholders
pattern = r"^(.*?)(?:\s+\$?\s*(-?[\d.]+|—)\s+\$?\s*(-?[\d.]+|—)\s+\$?\s*(-?[\d.]+|—)\s+\$?\s*(-?[\d.]+|—))?$"

# Process each line in the text
for line in text[1:]:  # Skip the first line (header)
    match = re.match(pattern, line)
    if match:
        description = match.group(1).strip()  # Extract description
        values = [match.group(i).strip() if match.group(i) else "-" for i in range(2, 6)]  # Extract values
        table_data.append([description] + values)

# Create a DataFrame with appropriate column names
table2 = pd.DataFrame(table_data, columns=new_columns)
table2

,(C$ in millions),Q3_2024,Q3_2023,YTD_Q3_2024,YTD_Q3_2023
0,Income before income taxes,299.3,69.3,716.9,309.8
1,Add normalizing items:,-,-,-,-
2,DC fire expense (recovery) — (131.0) — 11.3,-,-,-,-
3,GST/HST-related charge,—,—,—,33.3
4,Change in fair value of redeemable financial i...,-,-,-,-
5,Normalized Income before income taxes,299.3,266.3,716.9,682.4

In [136]:
# Let's manually update the specific row 2
row_index = 2

# Manually split the data and assign values
table2.at[row_index, '(C$ in millions)'] = 'DC fire expense (recovery)'
table2.at[row_index, 'Q3_2024'] = '-'
table2.at[row_index, 'Q3_2023'] = '(131.0)'
table2.at[row_index, 'YTD_Q3_2024'] = '-'
table2.at[row_index, 'YTD_Q3_2023'] = '11.3'

# Let's manually update the specific row 2
row_index = 4

# Manually split the data and assign values
table2.at[row_index, '(C$ in millions)'] = 'DC fire expense (recovery)'
table2.at[row_index, 'Q3_2024'] = '-'
table2.at[row_index, 'Q3_2023'] = '328.0'
table2.at[row_index, 'YTD_Q3_2024'] = '-'
table2.at[row_index, 'YTD_Q3_2023'] = '328.0'

# Display the modified DataFrame
table2

,(C$ in millions),Q3_2024,Q3_2023,YTD_Q3_2024,YTD_Q3_2023
0,Income before income taxes,299.3,69.3,716.9,309.8
1,Add normalizing items:,-,-,-,-
2,DC fire expense (recovery),-,(131.0),-,11.3
3,GST/HST-related charge,—,—,—,33.3
4,DC fire expense (recovery),-,328.0,-,328.0
5,Normalized Income before income taxes,299.3,266.3,716.9,682.4

### Tables 3-4: Page 7

In [137]:
table3 = table[1]
table3

,Income before income taxes,$,299.3 $,69.3 $,716.9 $,309.8
0,Less: Other operating segments,NaN,134.5,(169.7),381.4,64.5
1,Retail Income before income taxes,$,164.8 $,239.0 $,335.5 $,245.3
2,Add normalizing items:,NaN,NaN,NaN,NaN,NaN
3,DC fire expense (recovery),NaN,—,(131.0),—,11.3
4,Retail Normalized Income before income taxes,$,164.8 $,108.0 $,335.5 $,256.6

In [138]:
table3.drop(columns="$", inplace=True)
table3

,Income before income taxes,299.3 $,69.3 $,716.9 $,309.8
0,Less: Other operating segments,134.5,(169.7),381.4,64.5
1,Retail Income before income taxes,164.8 $,239.0 $,335.5 $,245.3
2,Add normalizing items:,NaN,NaN,NaN,NaN
3,DC fire expense (recovery),—,(131.0),—,11.3
4,Retail Normalized Income before income taxes,164.8 $,108.0 $,335.5 $,256.6

In [139]:
new_columns = ['(C$ in millions)','Q3_2024', 'Q3_2023', 'YTD_Q3_2024', 'YTD_Q3_2023']
table3 = structure_table(table3, new_columns)
print("\nModified DataFrame:")
table3

Modified DataFrame:

,(C$ in millions),Q3_2024,Q3_2023,YTD_Q3_2024,YTD_Q3_2023
0,Income before income taxes,299.3 $,69.3 $,716.9 $,309.8
1,Less: Other operating segments,134.5,(169.7),381.4,64.5
2,Retail Income before income taxes,164.8 $,239.0 $,335.5 $,245.3
3,Add normalizing items:,NaN,NaN,NaN,NaN
4,DC fire expense (recovery),—,(131.0),—,11.3
5,Retail Normalized Income before income taxes,164.8 $,108.0 $,335.5 $,256.6

In [140]:
table4 = table[2]
table4

,Income before income taxes,$ 299.3,$ 69.3,Unnamed: 0,$ 716.9,$ 309.8
0,Less: Other operating segments,189.0,(56.4),NaN,422.4,10.0
1,Financial Services Income before income t...,$ 110.3,$ 125.7,NaN,$ 294.5,$ 299.8
2,Add normalizing items:,NaN,NaN,NaN,NaN,NaN
3,GST/HST-related charge,—,—,NaN,—,33.3
4,Financial Services Normalized Income befor...,$ 110.3,$ 125.7,NaN,$ 294.5,$ 333.1

In [141]:
table4.drop(columns="Unnamed: 0", inplace=True)
table4

,Income before income taxes,$ 299.3,$ 69.3,$ 716.9,$ 309.8
0,Less: Other operating segments,189.0,(56.4),422.4,10.0
1,Financial Services Income before income t...,$ 110.3,$ 125.7,$ 294.5,$ 299.8
2,Add normalizing items:,NaN,NaN,NaN,NaN
3,GST/HST-related charge,—,—,—,33.3
4,Financial Services Normalized Income befor...,$ 110.3,$ 125.7,$ 294.5,$ 333.1

In [142]:
new_columns = ['(C$ in millions)','Q3_2024', 'Q3_2023', 'YTD_Q3_2024', 'YTD_Q3_2023']
table4 = structure_table(table4, new_columns)
print("\nModified DataFrame:")
table4

Modified DataFrame:

,(C$ in millions),Q3_2024,Q3_2023,YTD_Q3_2024,YTD_Q3_2023
0,Income before income taxes,$ 299.3,$ 69.3,$ 716.9,$ 309.8
1,Less: Other operating segments,189.0,(56.4),422.4,10.0
2,Financial Services Income before income t...,$ 110.3,$ 125.7,$ 294.5,$ 299.8
3,Add normalizing items:,NaN,NaN,NaN,NaN
4,GST/HST-related charge,—,—,—,33.3
5,Financial Services Normalized Income befor...,$ 110.3,$ 125.7,$ 294.5,$ 333.1

## Table 5: Pag 8

In [143]:
table5 = table[3]
table5

,Income before income taxes,$,299.3 $,69.3,$.1,716.9 $,309.8
0,Less: Other operating segments,NaN,204.8,58.0,NaN,418.0,118.6
1,CT REIT income before income taxes,$,94.5 $,11.3,$,29 8.9$,191.2
2,Add:,NaN,NaN,NaN,NaN,NaN,NaN
3,CT REIT fair value loss (gain) adjustment,NaN,(17.7),66.7,NaN,(64.3),39.3
4,CT REIT deferred taxes,NaN,(0.6),(0.2),NaN,0.2,0.7
5,CT REIT lease principal payments on right-of-u...,NaN,(0.2),(0.2),NaN,(0.6),(0.7)
6,CT REIT fair value of equity awards,NaN,1.9,(0.9),NaN,0.7,(1.1)
7,CT REIT internal leasing expense,NaN,0.2,0.4,NaN,0.8,0.8
8,CT REIT funds from operations,$,78.1 $,77.1,$,235.7 $,230.2
9,Less:,NaN,NaN,NaN,NaN,NaN,NaN
10,CT REIT properties straight-line rent revenue,NaN,(1.0),(0.5),NaN,(3.6),(1.3)
11,CT REIT direct leasing costs,NaN,0.1,0.3,NaN,0.7,0.9
12,CT REIT capital expenditure reserve,NaN,6.4,6.3,NaN,19.2,18.7
13,CT REIT adjusted funds from operations,$,72.6 $,71.0,$,219.4 $,211.9

In [144]:
table5.drop(columns=["$.1", "$"], inplace=True)
table5

,Income before income taxes,299.3 $,69.3,716.9 $,309.8
0,Less: Other operating segments,204.8,58.0,418.0,118.6
1,CT REIT income before income taxes,94.5 $,11.3,29 8.9$,191.2
2,Add:,NaN,NaN,NaN,NaN
3,CT REIT fair value loss (gain) adjustment,(17.7),66.7,(64.3),39.3
4,CT REIT deferred taxes,(0.6),(0.2),0.2,0.7
5,CT REIT lease principal payments on right-of-u...,(0.2),(0.2),(0.6),(0.7)
6,CT REIT fair value of equity awards,1.9,(0.9),0.7,(1.1)
7,CT REIT internal leasing expense,0.2,0.4,0.8,0.8
8,CT REIT funds from operations,78.1 $,77.1,235.7 $,230.2
9,Less:,NaN,NaN,NaN,NaN
10,CT REIT properties straight-line rent revenue,(1.0),(0.5),(3.6),(1.3)
11,CT REIT direct leasing costs,0.1,0.3,0.7,0.9
12,CT REIT capital expenditure reserve,6.4,6.3,19.2,18.7
13,CT REIT adjusted funds from operations,72.6 $,71.0,219.4 $,211.9

In [145]:
new_columns = ['(C$ in millions)','Q3_2024', 'Q3_2023', 'YTD_Q3_2024', 'YTD_Q3_2023']
table5 = structure_table(table5, new_columns)
print("\nModified DataFrame:")
table5

Modified DataFrame:

,(C$ in millions),Q3_2024,Q3_2023,YTD_Q3_2024,YTD_Q3_2023
0,Income before income taxes,299.3 $,69.3,716.9 $,309.8
1,Less: Other operating segments,204.8,58.0,418.0,118.6
2,CT REIT income before income taxes,94.5 $,11.3,29 8.9$,191.2
3,Add:,NaN,NaN,NaN,NaN
4,CT REIT fair value loss (gain) adjustment,(17.7),66.7,(64.3),39.3
5,CT REIT deferred taxes,(0.6),(0.2),0.2,0.7
6,CT REIT lease principal payments on right-of-u...,(0.2),(0.2),(0.6),(0.7)
7,CT REIT fair value of equity awards,1.9,(0.9),0.7,(1.1)
8,CT REIT internal leasing expense,0.2,0.4,0.8,0.8
9,CT REIT funds from operations,78.1 $,77.1,235.7 $,230.2
10,Less:,NaN,NaN,NaN,NaN
11,CT REIT properties straight-line rent revenue,(1.0),(0.5),(3.6),(1.3)
12,CT REIT direct leasing costs,0.1,0.3,0.7,0.9
13,CT REIT capital expenditure reserve,6.4,6.3,19.2,18.7
14,CT REIT adjusted funds from operations,72.6 $,71.0,219.4 $,211.9

## Table 6: Pag 9

In [146]:
table6 = tabula.read_pdf(pdf_path, pages=9, multiple_tables=False)

In [147]:
# Define the area manually for the part of the page that contains the table
table6 = tabula.read_pdf(pdf_path, pages=9, multiple_tables=False, stream=True)

table6 = table6[0]
table6

,(C$ in millions),Unnamed: 1,Q3 2024,Unnamed: 3,Q3 2023
0,Income before income taxes,$,979.8,$,"1,062.0"
1,Less: Other operating segments,NaN,482.6,NaN,174.3
2,Retail Income before income taxes,$,497.2,$,887.7
3,Add normalizing items:,NaN,NaN,NaN,NaN
4,Operational Efficiency program,NaN,—,NaN,19.5
5,Targeted headcount reduction-related charge,NaN,19.6,NaN,—
6,DC fire expense (recovery),NaN,—,NaN,11.3
7,Retail Normalized Income before income taxes,$,516.8,$,918.5
8,Less:,NaN,NaN,NaN,NaN
9,Retail intercompany adjustments1,NaN,216.7,NaN,213.7
10,Add:,NaN,NaN,NaN,NaN
11,Retail interest expense2,NaN,351.5,NaN,302.7
12,Retail depreciation of right-of-use assets,NaN,598.5,NaN,626.2
13,Retail effective tax rate,NaN,27.4 %,NaN,26.9 %
14,Add: Retail taxes,NaN,(342.6),NaN,(439.4)
15,Retail return,$,907.5,$,"1,194.3"
16,Average total assets,$,"22,265.9",$,"22,204.6"
17,Less: Average assets in other operating segments,NaN,"4,281.7",NaN,"4,490.9"
18,Average Retail assets,$,"17,984.2",$,"17,713.7"
19,Less:,NaN,NaN,NaN,NaN
20,Average Retail intercompany adjustments1,NaN,"4,333.9",NaN,"3,509.3"
21,Average Retail trade payables and accrued liab...,NaN,"2,740.2",NaN,"2,972.3"
22,Average Franchise Trust assets,NaN,573.0,NaN,505.1
23,Average Retail invested capital,$,"10,337.1",$,"10,727.0"
24,Retail ROIC,NaN,8.8 %,NaN,11.1 %

In [148]:
table6.drop(columns=['Unnamed: 1','Unnamed: 3'], inplace=True)
table6

                                     (C$ in millions)   Q3 2024   Q3 2023
0                          Income before income taxes     979.8   1,062.0
1                      Less: Other operating segments     482.6     174.3
2                   Retail Income before income taxes     497.2     887.7
3                              Add normalizing items:       NaN       NaN
4                      Operational Efficiency program         —      19.5
5         Targeted headcount reduction-related charge      19.6         —
6                          DC fire expense (recovery)         —      11.3
7        Retail Normalized Income before income taxes     516.8     918.5
8                                               Less:       NaN       NaN
9                    Retail intercompany adjustments1     216.7     213.7
10                                               Add:       NaN       NaN
11                           Retail interest expense2     351.5     302.7
12         Retail depreciation of right-of-use assets     598.5     626.2
13                          Retail effective tax rate    27.4 %    26.9 %
14                                  Add: Retail taxes   (342.6)   (439.4)
15                                      Retail return     907.5   1,194.3
16                               Average total assets  22,265.9  22,204.6
17   Less: Average assets in other operating segments   4,281.7   4,490.9
18                              Average Retail assets  17,984.2  17,713.7
19                                              Less:       NaN       NaN
20           Average Retail intercompany adjustments1   4,333.9   3,509.3
21  Average Retail trade payables and accrued liab...   2,740.2   2,972.3
22                     Average Franchise Trust assets     573.0     505.1
23                    Average Retail invested capital  10,337.1  10,727.0
24                                        Retail ROIC     8.8 %    11.1 %

## Table 7: Pag 10

In [149]:
table7 = table[5]
table7

,Total additions1,$,216.4,$.1,188.6,$.2,490.2 $,396.6
0,Add: Accrued additions,NaN,(21.3),NaN,(12.2),NaN,(32.6),39.2
1,Less: CT REIT acquisitions and developments,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,excluding vend-ins from CTC,NaN,68.0,NaN,21.3,NaN,82.0,42.7
3,Operating capital expenditures,$,127.1,$,155.1,$,375.6 $,393.1

In [150]:
table7.drop(columns=['$','$.1','$.2'], inplace=True)
table7

,Total additions1,216.4,188.6,490.2 $,396.6
0,Add: Accrued additions,(21.3),(12.2),(32.6),39.2
1,Less: CT REIT acquisitions and developments,NaN,NaN,NaN,NaN
2,excluding vend-ins from CTC,68.0,21.3,82.0,42.7
3,Operating capital expenditures,127.1,155.1,375.6 $,393.1

In [151]:
new_columns = ['(C$ in millions)','Q3_2024', 'Q3_2023', 'YTD_Q3_2024', 'YTD_Q3_2023']
table7 = structure_table(table7, new_columns)
print("\nModified DataFrame:")
table7

Modified DataFrame:

,(C$ in millions),Q3_2024,Q3_2023,YTD_Q3_2024,YTD_Q3_2023
0,Total additions1,216.4,188.6,490.2 $,396.6
1,Add: Accrued additions,(21.3),(12.2),(32.6),39.2
2,Less: CT REIT acquisitions and developments,NaN,NaN,NaN,NaN
3,excluding vend-ins from CTC,68.0,21.3,82.0,42.7
4,Operating capital expenditures,127.1,155.1,375.6 $,393.1

# Cleaning tables

In [152]:
def clean_tables(numeric_columns, table):
    table_df = table.copy()

    for col in numeric_columns:
        # Replace unwanted characters to prepare for numeric conversion
        table_df[col] = table_df[col].astype(str).str.replace('$', '', regex=False)
        table_df[col] = table_df[col].str.replace(',', '', regex=False)
        table_df[col] = table_df[col].str.replace('(', '-', regex=False)
        table_df[col] = table_df[col].str.replace(')', '', regex=False)

        # Convert all values to float, coercing errors into NaN
        table_df[col] = pd.to_numeric(table_df[col], errors='coerce')

        # Format numeric values
        table_df[col] = table_df[col].apply(
            lambda x: format_currency(x) if pd.notna(x) else '-'
        )

    return table_df

In [153]:
tables = [table1, table2, table3, table4, table5, table6, table7]

In [154]:
cleaned_tables = []

for table in tables:
    cleaned_tables.append(clean_tables(table.columns[1:], table))

In [155]:
cleaned_tables[4]

,(C$ in millions),Q3_2024,Q3_2023,YTD_Q3_2024,YTD_Q3_2023
0,Income before income taxes,$299,$69,$716,$309
1,Less: Other operating segments,$204,$58,$418,$118
2,CT REIT income before income taxes,$94,$11,-,$191
3,Add:,-,-,-,-
4,CT REIT fair value loss (gain) adjustment,-$17,$66,-$64,$39
5,CT REIT deferred taxes,-$0,-$0,$0,$0
6,CT REIT lease principal payments on right-of-u...,-$0,-$0,-$0,-$0
7,CT REIT fair value of equity awards,$1,-$0,$0,-$1
8,CT REIT internal leasing expense,$0,$0,$0,$0
9,CT REIT funds from operations,$78,$77,$235,$230
10,Less:,-,-,-,-
11,CT REIT properties straight-line rent revenue,-$1,-$0,-$3,-$1
12,CT REIT direct leasing costs,$0,$0,$0,$0
13,CT REIT capital expenditure reserve,$6,$6,$19,$18
14,CT REIT adjusted funds from operations,$72,$71,$219,$211